<template>
    <div class="
                flex-1
                text-gray-700 
                text-center 
                bg-white shadow-xl
                m-2
                rounded-lg
                ">

  
    <div class="flex items-center p-2">

        <div v-if="type=='profit'" class="w-1/4 flex items-center justify-center text-2xl text-green-800 rounded-full">
            
            <svg xmlns="http://www.w3.org/2000/svg" class="fill-current p-2 h-20 w-20" id="line">
                
                <g class="text-green-400">
                    <circle cx="35.1" cy="48" r="2"/>
                    <path d="m22.822 46.444a4.015 4.015 0 1 1 6.909-1.966l2.269 1.022a3.9 3.9 0 0 1 4.465-1.247l4.926-7.15a3.963 3.963 0 0 1 -.991-2.603 4 4 0 1 1 7.932.678l2.268 1.022a3.9 3.9 0 0 1 4.465-1.247l8.935-12.967v-3.486a3 3 0 0 0 -3-3h-42.5a3 3 0 0 0 -3 3v38.484z"/>
                    <path d="m43.4 38.358q-.186-.048-.366-.114l-4.925 7.15a3.961 3.961 0 0 1 -2.009 6.464v12.142h7.3z"/>
                    <path d="m34.1 51.858a3.917 3.917 0 0 1 -2.932-4.537l-2.268-1.021a3.981 3.981 0 0 1 -2.1 1.361v16.339h7.3z"/>
                    <circle cx="25.8" cy="43.8" r="2"/>
                    <path d="m56.71 36.094a3.962 3.962 0 0 1 -2.01 6.464v21.442h6.3a3 3 0 0 0 3-3v-35.489z"/>
                    <path d="m24.8 47.658c-.108-.028-.214-.062-.318-.1l-8.982 12.931v.511a3 3 0 0 0 3 3h6.3z"/>
                    <circle cx="53.7" cy="38.7" r="2"/>
                    <path d="m52.7 42.558a3.91 3.91 0 0 1 -2.931-4.536l-2.269-1.022a3.984 3.984 0 0 1 -2.1 1.361v25.639h7.3z"/>
                    <circle cx="44.4" cy="34.5" r="2"/>
                </g>
                <path  class="text-gray-700" d="m24.25 7.75a8.75 8.75 0 1 0 8.75 8.75 8.76 8.76 0 0 0 -8.75-8.75zm0 15.5a6.75 6.75 0 1 1 6.75-6.75 6.758 6.758 0 0 1 -6.75 6.75z"/>
                <path  class="text-gray-700" d="m37.875 16.5a1 1 0 0 0 1 1h3a1 1 0 0 0 0-2h-3a1 1 0 0 0 -1 1z" />
                <path  class="text-gray-700" d="m9.625 15.5h-3a1 1 0 0 0 0 2h3a1 1 0 0 0 0-2z" />
                <path  class="text-gray-700" d="m45.5 0h-42.5a3 3 0 0 0 -3 3v27a3 3 0 0 0 3 3h42.5a3 3 0 0 0 3-3v-27a3 3 0 0 0 -3-3zm-43.5 3a1 1 0 0 1 1-1h5.931a8.008 8.008 0 0 1 -6.931 6.931zm1 28a1 1 0 0 1 -1-1v-5.931a8.008 8.008 0 0 1 6.931 6.931zm43.5-1a1 1 0 0 1 -1 1h-5.931a8.008 8.008 0 0 1 6.931-6.931zm0-7.949a10.015 10.015 0 0 0 -8.949 8.949h-26.6a10.015 10.015 0 0 0 -8.951-8.949v-11.1a10.015 10.015 0 0 0 8.949-8.951h26.6a10.015 10.015 0 0 0 8.951 8.949zm0-13.12a8.008 8.008 0 0 1 -6.931-6.931h5.931a1 1 0 0 1 1 1z" />

            </svg>

        </div>

        <div v-else-if="type=='lose'" class="w-1/4 flex items-center justify-center text-2xl text-green-800 rounded-full">
            <svg xmlns="http://www.w3.org/2000/svg" class="fill-current p-2 h-20 w-20" id="line">
            
            <path class=" text-red-500" d="M62,61H61V48a3,3,0,0,0-3-3H50a3,3,0,0,0-3,3V61H45V24a3,3,0,0,0-3-3H34a3,3,0,0,0-3,3V61H29V40a3,3,0,0,0-3-3H18a3,3,0,0,0-3,3V61H14a1,1,0,0,0,0,2H62A1,1,0,0,0,62,61Z" />
            <path class=" text-gray-700" d="M48,9H4a3,3,0,0,0-3,3V40a3,3,0,0,0,3,3H20.38l-3,6H14a1,1,0,0,0,0,2H38a1,1,0,0,0,0-2H34.62l-3-6H48a3,3,0,0,0,3-3V12A3,3,0,0,0,48,9ZM3,30.48l8.51-6.81a3,3,0,0,0,5.11-.24l6.46,3.23A3,3,0,0,0,29,26.38l4.8-6.4a3,3,0,0,0,4.94-.69L49,22.72V33H3ZM13,22a1,1,0,1,1,1,1A1,1,0,0,1,13,22Zm12,4a1,1,0,1,1,1,1A1,1,0,0,1,25,26Zm10-8a1,1,0,1,1,1,1A1,1,0,0,1,35,18ZM4,11H48a1,1,0,0,1,1,1v8.61L38.89,17.24a3,3,0,0,0-5.85.38L28.24,24a3,3,0,0,0-4.86.55l-6.46-3.23a3,3,0,0,0-5.87.14L3,27.92V12A1,1,0,0,1,4,11ZM32.38,49H19.62l3-6h6.76ZM48,41H4a1,1,0,0,1-1-1V35H49v5A1,1,0,0,1,48,41ZM42,27H36a1,1,0,0,1,0-2h6A1,1,0,0,1,42,27ZM22,17h4a1,1,0,0,1,0,2H22A1,1,0,0,1,22,17ZM14,31H10a1,1,0,0,1,0-2h4A1,1,0,0,1,14,31Z" />
            </svg>
        </div>
        <div v-else-if="type=='net'" class="w-1/4 flex items-center justify-center text-2xl text-green-800 rounded-full">
            <svg xmlns="http://www.w3.org/2000/svg" class="fill-current p-2 h-20 w-20" id="line">
            
                    <path class=" text-gray-700" d="m48 7.5h-12v-3a3 3 0 0 0 -3-3h-14a3 3 0 0 0 -3 3v3h-12a3 3 0 0 0 -3 3v32a3 3 0 0 0 3 3h44a3 3 0 0 0 3-3v-32a3 3 0 0 0 -3-3zm-17.1 9a5 5 0 0 0 -9.8 0h-3.1v-7.08a7 7 0 0 0 5.92-5.92h4.16a7 7 0 0 0 5.92 5.92v7.08zm-2.08 0h-5.64a3 3 0 0 1 5.64 0zm5.18-12v2.9a5 5 0 0 1 -3.9-3.9h2.9a1 1 0 0 1 1 1zm-15-1h2.9a5 5 0 0 1 -3.9 3.9v-2.9a1 1 0 0 1 1-1zm-16 7a1 1 0 0 1 1-1h12v7h-2a1 1 0 0 0 0 2h24a1 1 0 0 0 0-2h-2v-7h12a1 1 0 0 1 1 1v14a1 1 0 0 1 -1 1h-44a1 1 0 0 1 -1-1zm45 33h-44a1 1 0 0 1 -1-1v-15.18a3 3 0 0 0 1 .18h44a3 3 0 0 0 1-.18v15.18a1 1 0 0 1 -1 1zm-12-11a1 1 0 0 1 -1 1h-18a1 1 0 0 1 0-2h18a1 1 0 0 1 1 1zm-3 6a1 1 0 0 1 -1 1h-12a1 1 0 0 1 0-2h12a1 1 0 0 1 1 1z" />
               
                    <path class=" text-blue-400"  d="m25.21 55.55a12.82 12.82 0 0 0 -1.52.64 3 3 0 0 1 -4.39-2.68v-3.86a5 5 0 0 1 5.91 5.9zm15.94-16c-1.9 0-3.5 2.29-3.5 5s1.6 5 3.5 5 3.5-2.29 3.5-5-1.6-5-3.5-5zm21.85.07v-3.88a3 3 0 0 0 -4.36-2.69 12.58 12.58 0 0 1 -1.51.62 5 5 0 0 0 5.87 5.95zm-38.14-11.79a15 15 0 0 0 -4 2.24 4 4 0 0 0 -1.53 3.15v1.54a5 5 0 0 0 5.53-6.93zm32.54 33.64c2.66-1 5.6-2.58 5.6-5.4v-1.55a5 5 0 0 0 -5.6 6.95zm-1.91.59a17.4 17.4 0 0 1 -3.87.44 15.85 15.85 0 0 1 -11.18-4.37c-2.57-2.57-8.19-4.07-13.16-3.13a7 7 0 0 0 -8-7.36v-10.86a7 7 0 0 0 7.49-9.52 16.31 16.31 0 0 1 15.07 3.9c2.53 2.53 8.15 4 13.17 3.06a7 7 0 0 0 8 7.43v10.85a7 7 0 0 0 -7.52 9.56zm-8.84-17.51c0-3.86-2.47-7-5.5-7s-5.5 3.14-5.5 7 2.47 7 5.5 7 5.5-3.14 5.5-7z" />

            </svg>
        </div>

        <div class="flex-1 px-4 py-4">
              <div  class="text-3xl font-medium"    > ${{ amount }}     </div>
              <p    class="text-base text-gray-500"> {{ discription }} </p>
        </div>


    </div>

    </div>
</template>



<script>
export default {
    props :['amount','type','discription']
}
</script>