<template>
    <div class="w-full md:flex-1 text-gray-600 text-center bg-gray-100 rounded-lg px-4 py-4 m-2">
        
        <div class="flex h-full items-center">


            <div class="w-1/3 flex items-center justify-center text-4xl mt-2 rounded-lg">

                
                
                <slot></slot>
                

            </div>

            <div class="w-2/3 text-left">
                <p    class="text-lg text-gray-600">    {{ title }}     </p>
                <div  class="text-4xl font-medium text-gray-700 -mt-3"    >     {{ value }}     </div>
                
            </div>


        </div>


    </div>
    
</template>

<script>
export default {
    props: ['title','value']
}
</script>