<template >

    <!-- Profile dropdown -->
    <div class="ml-3 relative" @mouseenter="open()" >
        <div>
        <button  class="flex text-sm border-2 border-transparent rounded-full focus:outline-none focus:border-white transition duration-150 ease-in-out" id="user-menu" aria-label="User menu" aria-haspopup="true">
            <img class="h-8 w-8 rounded-full" src="https://thumbs.dreamstime.com/b/default-avatar-photo-placeholder-profile-picture-default-avatar-photo-placeholder-profile-picture-eps-file-easy-to-edit-125707135.jpg" alt="" />
        </button>
        </div>

        <div class="origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg"  v-show="isOpen" >
            <transition name="fade">
            <div class="py-1 rounded-md bg-white shadow-xs" role="menu" aria-orientation="vertical" aria-labelledby="user-menu"  @mouseenter="open()" @mouseleave="close()">
                
                <a 
                            :href="settings" 

                            class=  "block px-4 py-2 
                                    text-sm leading-5 
                                    text-gray-700 hover:bg-gray-100 
                                    focus:outline-none 
                                    focus:bg-gray-100 
                                    transition 
                                    duration-150 
                                    ease-in-out" 
                            >
                             <div class="flex justify-between items-center">
                            
                            <div class="flex">

                                    <svg class="fill-current text-gray-600 mx-1 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 26" fill-rule="evenodd" clip-rule="evenodd">
                                        <path d="M17 10.645v-2.29c-1.17-.417-1.907-.533-2.28-1.431-.373-.9.07-1.512.6-2.625l-1.618-1.619c-1.105.525-1.723.974-2.626.6-.9-.373-1.017-1.116-1.431-2.28h-2.29c-.412 1.158-.53 1.907-1.431 2.28h-.001c-.9.374-1.51-.07-2.625-.6l-1.617 1.619c.527 1.11.973 1.724.6 2.625-.375.901-1.123 1.019-2.281 1.431v2.289c1.155.412 1.907.531 2.28 1.431.376.908-.081 1.534-.6 2.625l1.618 1.619c1.107-.525 1.724-.974 2.625-.6h.001c.9.373 1.018 1.118 1.431 2.28h2.289c.412-1.158.53-1.905 1.437-2.282h.001c.894-.372 1.501.071 2.619.602l1.618-1.619c-.525-1.107-.974-1.723-.601-2.625.374-.899 1.126-1.019 2.282-1.43zm-8.5 1.689c-1.564 0-2.833-1.269-2.833-2.834s1.269-2.834 2.833-2.834 2.833 1.269 2.833 2.834-1.269 2.834-2.833 2.834zm15.5 4.205v-1.077c-.55-.196-.897-.251-1.073-.673-.176-.424.033-.711.282-1.236l-.762-.762c-.52.248-.811.458-1.235.283-.424-.175-.479-.525-.674-1.073h-1.076c-.194.545-.25.897-.674 1.073-.424.176-.711-.033-1.235-.283l-.762.762c.248.523.458.812.282 1.236-.176.424-.528.479-1.073.673v1.077c.544.193.897.25 1.073.673.177.427-.038.722-.282 1.236l.762.762c.521-.248.812-.458 1.235-.283.424.175.479.526.674 1.073h1.076c.194-.545.25-.897.676-1.074h.001c.421-.175.706.034 1.232.284l.762-.762c-.247-.521-.458-.812-.282-1.235s.529-.481 1.073-.674zm-4 .794c-.736 0-1.333-.597-1.333-1.333s.597-1.333 1.333-1.333 1.333.597 1.333 1.333-.597 1.333-1.333 1.333zm-4 3.071v-.808c-.412-.147-.673-.188-.805-.505s.024-.533.212-.927l-.572-.571c-.389.186-.607.344-.926.212s-.359-.394-.506-.805h-.807c-.146.409-.188.673-.506.805-.317.132-.533-.024-.926-.212l-.572.571c.187.393.344.609.212.927-.132.318-.396.359-.805.505v.808c.408.145.673.188.805.505.133.32-.028.542-.212.927l.572.571c.39-.186.608-.344.926-.212.318.132.359.395.506.805h.807c.146-.409.188-.673.507-.805h.001c.315-.131.529.025.924.213l.572-.571c-.186-.391-.344-.609-.212-.927s.397-.361.805-.506zm-3 .596c-.552 0-1-.447-1-1s.448-1 1-1 1 .447 1 1-.448 1-1 1z"/>
                                    </svg>

                                    Settings
                                
                            </div>    
                    </div> 

                            

                </a>

                <a 
                                            :href="logout" 

                                            class=  "block px-4 py-2 
                                                    text-sm leading-5 
                                                    text-gray-700 hover:bg-gray-100 
                                                    focus:outline-none 
                                                    focus:bg-gray-100 
                                                    transition 
                                                    duration-150 
                                                    ease-in-out" 
                                            onclick="event.preventDefault();document.getElementById('logout-form').submit();">
                                            
                    <div class="flex justify-between items-center">
                            
                            <div class="flex">

                                    <svg class="fill-current text-gray-600 mx-1 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 26" fill-rule="evenodd" clip-rule="evenodd">
                                            <path d="M16 9v-4l8 7-8 7v-4h-8v-6h8zm-16-7v20h14v-2h-12v-16h12v-2h-14z"/>                                    
                                    </svg>

                                    Logout
                                
                            </div>    
                    </div> 

                </a>
                    

                <form id="logout-form" :action="logout" method="POST" style="display: none;">
                        
                        <input type="hidden" name="_token" :value="csrf">

                </form>


            </div>

            </transition>
        </div>
    </div>


</template>


<script>
    export default {

        props: ['logout','settings','csrf'],

        data(){
            return {
                isOpen:false
            }
        },

        methods :{
            close(){
                setTimeout(()=> {this.isOpen = false;},200);
            },
            open(){
                setTimeout(()=> {this.isOpen = true;},200);
            }
        },

        mounted() {
            //console.log('Component mounted.')
        }
    }
</script>

<style>

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

</style>