<template>
    <div class="bg-white rounded shadow p-2 m-2">
                <div class="p-2 mt-3 border-b text-xl text-gray-800 flex">

                    <svg class="fill-current text-gray-400 w-10 mr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 26" fill-rule="evenodd" clip-rule="evenodd">
                        <path d="M6.628 23h-2.628l2.732-4h-6.732v-2h1v-16h22v16h1v2h-6.731l2.731 4h-2.627l-2.736-4h-5.273l-2.736 4zm14.372-20h-18v14h18v-14zm-6 12h4v1h-4v-1zm-8.245-6.074l1.157 4.319-1.099.294-.838-3.126-.974.576-.034-.014-.222-.828 1.801-1.165.209-.056zm3.835.922l1.131-.303.25.932-1.132.303.31 1.155-1.055.282-.31-1.154-1.134.304-.25-.932 1.135-.304-.297-1.106 1.055-.283.297 1.106zm4.509 1.471l-1.099.295-.838-3.127-.975.576-.033-.013-.222-.828 1.8-1.166.209-.056 1.158 4.319zm3.932-2.926l.231.861-2.995.803-.231-.861 2.995-.803zm-.328-1.225l.23.861-2.995.803-.23-.862 2.995-.802z"/>    
                    </svg>
                    
                    Classrooms
                
                </div>

                <!-- ==== filter input ==== -->
                <div class="border-b my-3 pb-3">
                   <input type="text" class="appearance-none 
                   border rounded
                   w-full py-2 px-4 
                   text-gray-700 
                   bg-white text-sm
                   leading-tight 
                   focus:outline-none 
                   focus:border-blue-300 
                   focus:shadow-outline-blue" placeholder="filter">
                </div>

                <div class="w-full h-56">
                    <span class="p-2 bg-teal-600 text-white border border-teal-600  block rounded">Classroom name</span>
                </div>
            </div>
</template>

<script>
export default {
    
}
</script>