<template>

    <input :type="type" :id="name" :name="name" :value="value" :placeholder="name" 
            class="appearance-none 
                    border rounded
                    w-full py-2 px-4 
                    text-gray-700 
                    mt-1 
                    bg-white text-sm
                    leading-tight 
                    focus:outline-none 
                    focus:border-blue-300 
                    focus:shadow-outline-blue" >

   

</template>


<script>
export default {
    props: ['name','type','value'],
}
</script>