<template>

    <textarea :type="type" :id="element_name" :name="element_name" :placeholder="element_name"  rows="10"
            class="appearance-none 
                    border rounded
                    w-full py-2 px-4 
                    text-gray-700 
                    mt-1 
                    bg-white text-sm
                    leading-tight 
                    focus:outline-none 
                    focus:border-blue-300 
                    focus:shadow-outline-blue"></textarea>

   

</template>


<script>
export default {
    props: ['element_name','type'],
}
</script>