<template>
    
    <div>
        <!-- ====  delete Form ==== -->
        <form method="POST" :action="link" @submit="checkForm">


            <input type="hidden" name="_method" value="DELETE" >
            <input type="hidden" name="_token" :value="csrf">


            

        </form>


    </div>
</template>

<script>
export default {
    props:['link'],
    data(){
        return {
            showModel:false,
            confirmed : false,
            csrf :document.querySelector('meta[name="csrf-token"]').attributes.content.value,
        }
    },
    methods: {
        checkForm: function (e) {

            this.showModel = true;

            if( $refs.modal.confirmed ) return true;
            e.preventDefault();

        }
        
        
    }
}
</script>