<template>
    <div class="relative inline-block text-left" @focusout="hide()">
        <div>
            <span class="rounded-md shadow-sm">
                    
                    <input type="hidden" :name="column_name" v-model="value.id"> 

                    <button type="button" @click="isOpen = !isOpen" 
                    
                    class="
                    
                    inline-flex 
                    justify-between 
                    mt-1  
                    w-full 
                    rounded-md 
                    border 
                    border-gray-300 
                    px-4 py-2 
                    bg-white
                    text-sm 
                    leading-5 font-normal text-gray-700 
                    
                    hover:text-gray-500 focus:outline-none 
                    focus:border-blue-300 focus:shadow-outline-blue 
                    active:bg-gray-50 active:text-gray-800 
                    transition ease-in-out 
                    
                    duration-150">
                        
                        {{ value.name }} {{ value.surname }}
                        
                        <svg class="-mr-1 ml-2 h-5 w-5" fill="currentColor" viewBox="0 0 20 20">

                        <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"/></svg>

                    </button>
            </span>
        </div>



           <transition
                    enter-active-class  ="transition ease-out duration-100 transform"
                    enter-class         ="opacity-0 scale-95"
                    enter-to-class      ="opacity-100 scale-100"
                    leave-active-class  ="transition ease-in duration-75 transform"
                    leave-class         ="opacity-100 scale-100"
                    leave-to-class      ="opacity-0 scale-95" >


                <div class="origin-top-right absolute right-0 mt-2 w-full rounded-md shadow-lg z-10" v-show="isOpen">

                    <div class="rounded-md bg-white shadow-xs overflow-y-scroll h-40">

                        <div class="p-2 bg-gray-100 border-b">

                            <!-- filter input  -->

                            <input id="filter" v-model="filterBy" @focus="isOnFilter= true" @keyup="filter()" class="px-4 py-2 w-full border rounded bg-white hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue " type="text" autocomplete="off" placeholder="Search">
                        
                        </div>

                        <div class="py-1">
                            <a v-for="item in dataFiltred" :key="item.id" @click="select(item)" class="block px-4 py-2 text-sm leading-5 text-gray-700 cursor-pointer hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900">{{ item.name || '' }} {{ item.surname || '' }}</a>
                        </div>

                    </div>

                </div>

            </transition>


        </div>



</template>


<script>
export default {
    props:["name","column_name","items","selected"],
    data(){

        return {

            isOpen      : false,
            value       : { 'id':'', 'name':this.name },
            filterBy    : "",
            isOnFilter  : false,
            dataFiltred : this.items
            
        }

    },
    mounted(){

        if(this.selected){

            this.items.forEach((item)=>{
                
                console.log(item.id , this.selected);

                if(item.id == this.selected){
                    this.value = item;
                }

            });
            
        }
    },
    methods: {


        select(item) { // select value and disable On filter stat
            
            this.isOnFilter     = false;
            this.value          = item;
            this.isOpen         = false;
            this.filterBy       = '';
            this.dataFiltred    = this.items;
        },


        hide(){


            setTimeout(()=>{ // gives time to user before closing, instead of closing immediately


                if(this.isOnFilter==false){

                    this.isOpen=false;
                    this.filterBy = '';
                    this.dataFiltred = this.items;
                }
                
            },200);



            this.isOnFilter = false;

        },
        filter(){ // filters items and put them in data variable dataFiltred

            this.dataFiltred = this.items.filter((item) => {


                if(item.surname){ // if the drop items have surname, then add it to filter condition

                    name = item.name.toUpperCase().trim() + ' ' + item.surname.toUpperCase().trim();
                    return  name.includes(this.filterBy.toUpperCase().trim())

                }



                return item.name.toUpperCase().trim().includes(this.filterBy.toUpperCase().trim()) 
            });
        },
        sort(byelement){

        }

    }
}
</script>