<template>
    <div class=" py-4 px-6 ">
        <div class="text-2xl my-3  mx-1 block text-gray-700"> {{ title }}  </div>
    </div>
</template>



<script>
export default {
    props: ['title'],
    data(){
        return {

        }
    }
}
</script>