<template>
    <div class="py-2 px-3 bg-blue-500 text-white border border-blue-500">

                    <i v-if="person.name"           class="fas fa-user mx-2 ml-4 text-blue-300"></i>             {{ person.name + ' ' + ( person.surname || "" ) }} 

                    <i v-if="person.cin"            class="fas fa-address-card mx-2 ml-4 text-blue-300"></i>     {{ person.cin }} 

                    <i v-if="person.birthday"       class="fas fa-calendar mx-2 ml-4 text-blue-300"></i>         {{ person.birthday }} 

                    <i v-if="person.address"        class="fas fa-map-marker-alt mx-2 ml-4 text-blue-300"></i>   {{ person.address }} 

                    <i v-if="person.phone_number"   class="fas fa-phone mx-2 ml-4 text-blue-300"></i>            {{ person.phone_number }}

    </div>
</template>

<script>
export default {
    props:['person'],
    data(){
        return {

        }
    }
}
</script>