<template>
    <div class="relative w-full inline-block text-left" @focusout="hide()">
        <div>

            <span class="rounded-md shadow-sm w-full ">
                    
                    <input type="hidden" :name="column_name" :value="JSON.stringify(selects)"> 

                    <button type="button" @click="isOpen = !isOpen" @focus="isOpen = true" 
                    
                    class="
                    inline-flex 
                    justify-between 
                    mt-1  
                    w-full 
                    rounded-md 
                    border 
                    border-gray-300 
                    items-center
                    bg-white
                    text-sm 
                    leading-5 font-normal text-gray-700 
                    
                    hover:text-gray-500 focus:outline-none 
                    focus:border-blue-300 focus:shadow-outline-blue 
                    active:bg-gray-50 active:text-gray-800 
                    transition ease-in-out 
                    
                    duration-150">
                        <div class="flex flex-col  w-full">   
                            <input type="text" class="p-4 w-full focus:border-blue-300 outline-none focus:shadow-outline-blue" placeholder="students" v-model="filterBy" @focus="isOnFilter= true" @keyup="filter()">
                        </div>
                        
                       
              
                    </button>
            </span>

            

        </div>

            <transition
                    enter-active-class  ="transition ease-out duration-100 transform"
                    enter-class         ="opacity-0 scale-95"
                    enter-to-class      ="opacity-100 scale-100"
                    leave-active-class  ="transition ease-in duration-75 transform"
                    leave-class         ="opacity-100 scale-100"
                    leave-to-class      ="opacity-0 scale-95" >


                <div class="origin-top-right absolute right-0 mt-2 w-full rounded-md shadow-lg z-10" v-show="isOpen">

                    <div class="rounded-md bg-white shadow-xs overflow-y-scroll" style="max-height: 150px;">


                        <div class="py-1">
                            <a v-for="item in filtered_items" :key="item.id" @click="select(item)"  class="block px-4 py-2 text-sm leading-5 text-gray-700 cursor-pointer hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900">{{ item.name || '' }} {{ item.surname || '' }}</a>
                        </div>

                    </div>

                </div>

            </transition>



            
            <div class="p-3 bg-gray-200 border-gray-300 rounded-md mt-6 -mb-2">
                <div class="flex flex-wrap justify-start">
                    
                    <label v-for="selected in selected_items" :key="selected.id" class="p-2 px-3 m-1 text-sm rounded-full bg-gray-700 text-white shadow-inner inline" style="padding: 7px 14px 10px 14px;"> 
                         <span class="mr-1 -ml-1 -mt-2 pr-2 pl-2 pt-0 pb-1 rounded-full bg-gray-100 text-gray-600 shadow-sm cursor-pointer" @click="unselect(selected)">x</span> {{ selected.name || '' }} {{ selected.surname || '' }}
                    </label>

                   
                </div>
                <div v-if="selected_items.length <= 0" class="text-center p-4 text-gray-600 flex justify-center"> 

                
                        <svg xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" class="fill-current w-8 h-8 text-gray-500">
                            <path d="M19 14.586l3.586-3.586 1.414 1.414-3.586 3.586 3.586 3.586-1.414 1.414-3.586-3.586-3.586 3.586-1.414-1.414 3.586-3.586-3.586-3.586 1.414-1.414 3.586 3.586zm-7 6.414h-12v-2h12v2zm0-4.024h-12v-2h12v2zm0-3.976h-12v-2h12v2zm12-4h-24v-2h24v2zm0-4h-24v-2h24v2z"></path>
                        </svg> 
                        <div> No Item selected </div>
                
                </div>
            </div>


    </div>


</template>

<script>
export default {
    props:["name","column_name","items","selects"],
    data(){

        return {

            isOpen      : false,


            selected_items : [],
            available_items : [],
            filtered_items : [],


            value       : { 'id':'', 'name':this.name },
            filterBy    : "",
            isOnFilter  : false,
            
        }

    },
    mounted(){

        this.selected_items     = this.selects;
        this.available_items    = this.items.filter((value, index, arr) => { 
                    

            var i;
            let founded = false;

            for (i = 0; i < this.selects.length; i++) {

                var item = this.selects[i];
                
                if(this.items[index]['id'] == item['id']) {

                    founded = true;
                    
                }    

            }

            if(!founded) { return this.items[index];  }

        });

        this.filtered_items     = this.available_items;
    },
    methods: {


        select(item) { // select value and disable On filter stat
            this.selected_items.push(item)

            this.available_items = this.items.filter((value, index, arr) => { 
                
                if(this.items[index]['id'] != item['id']) {

                    return this.items[index];
                    
                }

            });
          
        },
        unselect(item) {

            
            this.selected_items = this.selected_items.filter((value, index, arr) => { 
                
                if(this.selected_items[index]['id'] != item['id']) {

                  
                    return this.selected_items[index];
                    
                }

            });

            this.available_items.push(item)

        },


        hide(){


            setTimeout(()=>{ // gives time to user before closing, instead of closing immediately


                if(this.isOnFilter==false){

                    this.isOpen=false;
                    this.filterBy = '';
                    this.filtred_data = this.items;
                }
                
            },200);



            this.isOnFilter = false;

        },

        filter(){ // filters items and put them in data variable dataFiltred

            this.filtered_items = this.available_items.filter((item) => {


                if(item.surname){ // if the drop items have surname, then add it to filter condition

                    name = item.name.toUpperCase().trim() + ' ' + item.surname.toUpperCase().trim();
                    return  name.includes(this.filterBy.toUpperCase().trim())

                }



                return item.name.toUpperCase().trim().includes(this.filterBy.toUpperCase().trim()) 
            });
        },

        sort(byelement){

        }

    },
   computed: {


    filtred_data: {
        get(){
                return this.items.filter((value, index, arr) => { 
                    

                    var i;
                    let founded = false;

                    for (i = 0; i < this.selects.length; i++) {

                        var item = this.selects[i];
                        
                        if(this.items[index]['id'] == item['id']) {

                            founded = true;
                            
                        }    

                    }

                    if(!founded) { return this.items[index];  }

            });
        },
        set(newName){
            return newName
        } 
      

        
    }
   
  }
}
</script>