<template>

    <div class="bg-teal-100 border-teal-500 rounded-b text-teal-900 px-4 py-3 mt-4 text-sm" role="alert">
        
        <div class="flex">


                <div class="py-1">
                    <svg class="fill-current h-6 w-6 text-teal-500 mr-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/></svg>
                </div>

                <div>
                    <p class="font-medium py-1">{{ status }}</p>
                </div>

        </div>

    </div>

</template>

<script>
    export default {
        props: ['status'],

        mounted() {
            console.log('Component mounted.')
        }
    }
</script>