<template>
<div class="rounded-md bg-red-100 px-3 py-4 mt-3 flex items-center lg:justify-end lg:px-4 lg:py-2">
    <div class="flex-shrink-0">
        <svg class="h-5 w-5 fill-current text-red-700" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path d="M16.142 2l5.858 5.858v8.284l-5.858 5.858h-8.284l-5.858-5.858v-8.284l5.858-5.858h8.284zm.829-2h-9.942l-7.029 7.029v9.941l7.029 7.03h9.941l7.03-7.029v-9.942l-7.029-7.029zm-5.971 6h2v8h-2v-8zm1 12.25c-.69 0-1.25-.56-1.25-1.25s.56-1.25 1.25-1.25 1.25.56 1.25 1.25-.56 1.25-1.25 1.25z"/>
        </svg>
    </div>
    <div class="ml-3 flex-1 md:flex md:justify-between">
      <p class="text-sm leading-6 font-normal text-red-700">{{ message }}</p>
    </div>
  </div>
</template>

<script>
    export default {
        props: ['message'],

        mounted() {
            console.log('Component mounted.')
        }
    }
</script>