<template>
<div v-show="isOpen" class="rounded-md bg-blue-100 px-2 py-3 mt-3 flex items-start lg:justify-center lg:px-12 lg:py-3">
    <div class="flex-shrink-0">
        <svg class="h-6 w-6 fill-current text-blue-700" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-2.033 16.01c.564-1.789 1.632-3.932 1.821-4.474.273-.787-.211-1.136-1.74.209l-.34-.64c1.744-1.897 5.335-2.326 4.113.613-.763 1.835-1.309 3.074-1.621 4.03-.455 1.393.694.828 1.819-.211.153.25.203.331.356.619-2.498 2.378-5.271 2.588-4.408-.146zm4.742-8.169c-.532.453-1.32.443-1.761-.022-.441-.465-.367-1.208.164-1.661.532-.453 1.32-.442 1.761.022.439.466.367 1.209-.164 1.661z"/>
        </svg>
    </div>
    <div class="ml-3 flex-1 md:flex md:justify-between">
      <p class="text-sm leading-6 font-medium text-blue-700">{{ info }}</p>
    </div>

    <div class="ml-3 flex-2 md:flex md:justify-between">
      <svg @click="close()" class="h-3 w-3 my-2 fill-current text-blue-500 cursor-pointer" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"/>
      </svg>
    </div>
  </div>
</template>

<script>
    export default {
        props: ['info'],
        data(){
            return {
                isOpen : true
            }
        },
        methods :{
            close() {
                 this.isOpen = false;   
            }
        },

        mounted() {
            console.log('Component mounted.')
        }
    }
</script>