<template>

    <div class="w-24 mx-1">
        
        <a :href="link" class="w-full text-gray-700 shadow-sm bg-white flex justify-between py-2 px-2 border items-center rounded">
            
            <div class="w-2/3 text-center"> {{ text }} </div>
            
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-1/3 h-5 fill-current text-gray-400">
                <path d="M13.427 3.021h-7.427v-3.021l-6 5.39 6 5.61v-3h7.427c3.071 0 5.561 2.356 5.561 5.427 0 3.071-2.489 5.573-5.561 5.573h-7.427v5h7.427c5.84 0 10.573-4.734 10.573-10.573s-4.733-10.406-10.573-10.406z"></path>
                
            </svg> 

            
            
        </a>
    
    </div>

</template>



<script>
export default {
    props:['link','text']
}
</script>