<template>

 



 <div class="mt-3 rounded-md">




    <div class="flex items-center py-3 px-4 text-md text-white bg-gray-700 rounded"> 
            
            <!-- ==== Home link icon ==== -->
            
            <div class="text-gray-100 pr-3 w-auto inline-block"> 
               
               <a href="/">

                    <!-- ==== home icon ==== -->
                    <svg class=" fill-current w-6 h-6" viewBox="0 0 576 512" >
                        <path d="M280.37 148.26L96 300.11V464a16 16 0 0 0 16 16l112.06-.29a16 16 0 0 0 15.92-16V368a16 16 0 0 1 16-16h64a16 16 0 0 1 16 16v95.64a16 16 0 0 0 16 16.05L464 480a16 16 0 0 0 16-16V300L295.67 148.26a12.19 12.19 0 0 0-15.3 0zM571.6 251.47L488 182.56V44.05a12 12 0 0 0-12-12h-56a12 12 0 0 0-12 12v72.61L318.47 43a48 48 0 0 0-61 0L4.34 251.47a12 12 0 0 0-1.6 16.9l25.5 31A12 12 0 0 0 45.15 301l235.22-193.74a12.19 12.19 0 0 1 15.3 0L530.9 301a12 12 0 0 0 16.9-1.6l25.5-31a12 12 0 0 0-1.7-16.93z"></path>
                    </svg>  

                </a>

            </div>

            
            <div class="text-gray-600 w-auto inline-block"> 

                <!-- ==== arraw icon ==== -->
                <svg class=" fill-current w-3 h-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M0 3.795l2.995-2.98 11.132 11.185-11.132 11.186-2.995-2.981 8.167-8.205-8.167-8.205zm18.04 8.205l-8.167 8.205 2.995 2.98 11.132-11.185-11.132-11.186-2.995 2.98 8.167 8.206z"/>
                </svg>

            </div>
             


            <!-- ==== items ==== -->

            <div v-for="item in items" :key="item.name" class="text-blue-100 pl-3 w-auto inline-block"> 
                
                
                <div v-if="item != items[items.length-1]" class="flex items-center">
                
                    <a :href="item.link" > {{ item.name }} </a> 

                    <!-- ==== arraw icon ==== -->
                    <svg class="w-3 h-3 ml-5 fill-current text-gray-600 " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path d="M0 3.795l2.995-2.98 11.132 11.185-11.132 11.186-2.995-2.981 8.167-8.205-8.167-8.205zm18.04 8.205l-8.167 8.205 2.995 2.98 11.132-11.185-11.132-11.186-2.995 2.98 8.167 8.206z"/>
                    </svg>  

                </div>
                
                <!-- ==== last item ==== -->

                <div v-else class="flex items-center text-gray-400">
                
                    {{ item.name }}

                </div>

            </div>

            
    </div>

 </div>
</template>



<script>
export default {
    props:['items'],
    data() {
        return {

        }
    }
}
</script>