<template>
    <div v-if="visible" class="fixed z-50 overflow-auto flex items-center justify-center w-4/5 h-auto mt-40 inline-block">
        <div class="max-w-sm rounded-lg overflow-hidden shadow-lg bg-white m-4 border">
        <div class="flex flex-col min-h-full">
            <div class="px-6 py-4 border-b">
            <div class="text-xl text-center">Are You Sure ?</div>
            </div>
            <div class="px-6 py-10 flex-grow">
            <p class="text-gray-700 text-base">
                are you sure, you want to delete this recorded?
            </p>
            </div>
            <div class="px-5 py-3 border-t bg-gray-100 flex justify-end">
            <button class="bg-gray-600 text-white font-medium text-sm py-1 px-5 rounded mr-3" @click="$emit('hide_modal');">Cancel</button>
            <button class="bg-red-600 text-white font-medium text-sm py-1 px-5 rounded"  @click="delete_record()">Delete</button>
            </div>
        </div>
        </div>
    </div>
</template>

<script>
export default {
    props:['visible','element','element_id'],
    data(){
        return {

            modal:{ visible : true }
        }
    },
    methods: {
        delete_record(){
            this.$http.delete(this.element + '/'+ this.element_id).then(response => {
                alert('test');
            });
        }
    }
}
</script>