<template>

     <button type="submit" class="text-sm text-white border-blue-600  rounded  bg-blue-600 flex justify-between py-2 px-2 items-center w-auto inline-block">
            
            <div class="text-center w-auto inline-block mx-2"> {{ text }} </div>
            
            <svg class="h-4 pr-2 fill-current text-gray-400 mb" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" >
                <path d="M9 21.035l-9-8.638 2.791-2.87 6.156 5.874 12.21-12.436 2.843 2.817z"/>            
            </svg> 

            
            
            
    </button>
    
</template>



<script>
export default {
    props:['text']
}
</script>