<template>

     <a :href="link" class="text-gray-700 shadow-sm bg-white  py-2 px-3 border rounded" >
     
     
     {{ text }}</a>
     
</template>


  
<script>
export default {
    props:['text','link']
}
</script>

