<template>
<transition class="">

<div v-bind:class="{'h-full  hidden sm:inline  fixed bg-white shadow-lg z-30':true, 'w-20':hidden ,'w-48':!hidden }" 


style="transition: all .2s ease-out;
" @mouseenter="hidden = false" @mouseleave="hidden = true">
    
    <ul>


        <li v-for="item in items" :key="item.name" 
        
        v-bind:class="{'flex flex-row  hover:text-blue-600 hover:border-2 border-blue-600 text-gray-600 p-4 hover:bg-blue-100  items-center':true,'justify-center':hidden , ' justify-start':!hidden}">
            <div class="p-1 text-center"> <a :href="item.link"><i :class="item.icon"></i></a></div>
            <div v-show="!hidden" class="pl-3 pt w-full hover:text-blue-600 ">
                <a class="block" :href="item.link">{{ item.name }}</a>
            </div>
        </li>


    </ul>

</div>
</transition>
</template>



<script>
    export default {

        data(){
            return {
                hidden:true,
                items: [

                    { name : 'Home'         , icon : "fas fa-home"               ,link:'/home'   },
                    { name : 'Students'     , icon: "fas fa-book-reader"         ,link:'/students'   },
                    { name : 'Parents'      , icon: "fas fa-user-friends"        ,link:'/parents'   },
                    { name : 'Groups'       , icon: "fas fa-users"               ,link:'/groups'   },
                    { name : 'Teachers  '   , icon: "fas fa-chalkboard-teacher"  ,link:'/teachers'   },
                    { name : 'Classrooms'   , icon: "fas fa-chalkboard"          ,link:'/classrooms'   },
                    { name : 'Exams'        , icon: "fas fa-file-signature"      ,link:'/exams'   },
                    { name : 'Grads'        , icon: "fas fa-graduation-cap"      ,link:'/grades'   },
                    { name : 'Subjects'     , icon: "fas fa-book"                ,link:'/subjects'   },
                    { name : 'Providers'    , icon: "fas fa-store-alt"           ,link:'/providers'   },
                    { name : 'Employees'    , icon: "fas fa-users"               ,link:'/employees'   },
                ]
            }
        },

        mounted() {
            console.log('Component mounted.')
        }
    }
</script>





<style>

    .open-enter-active, .open-leave-active {

        transition: all .1s ease-in-out;

    }

    .open-enter, .open-leave-to{
        transition: all .1s ease-in-out;
    }
</style>