<template>
    <div>


        <div class="flex my-3 shadow-inner bg-gray-200 rounded">
            
            <!-- ==== Filter inputs ==== -->

            <div class="p-2 w-1/4">
                
                <input  v-model="filterByID" 

                        @keyup="filter()"      
                        type="text" 
                        placeholder="Filter by id" 
                        class="appearance-none  
                                shadow-sm border 
                                rounded w-full 
                                py-2 px-4  
                                text-gray-700  
                                mt-1  bg-white 
                                text-sm leading-tight  
                                focus:outline-none  
                                focus:border-blue-300  
                                focus:shadow-outline-blue" >
            </div>

            <div class="p-2 w-2/4">

                <input  v-model="filterByName" 

                        @keyup="filter()"     
                        type="text" 
                        placeholder="Filter by name" 
                        class="appearance-none  
                                shadow-sm border 
                                rounded w-full 
                                py-2 px-4  
                                text-gray-700  
                                mt-1  
                                bg-white text-sm 
                                leading-tight  
                                focus:outline-none  
                                focus:border-blue-300  
                                focus:shadow-outline-blue" >
            </div>


            <div class="p-2 w-1/4">
                
                <input  v-model="filterByCreateAt" 
                        
                        @keyup="filter()" 
                        type="text" 
                        placeholder="filter by Create date" 
                        class="appearance-none  
                                shadow-sm border rounded 
                                w-full py-2 px-4  text-gray-700  
                                mt-1  bg-white 
                                text-sm leading-tight  
                                focus:outline-none  
                                focus:border-blue-300  
                                focus:shadow-outline-blue" >
            </div>


        </div>
        


        <div class="overflow-x-auto bg-white rounded-lg shadow overflow-y-auto relative" style="height: 30vh;">
            
            <table class="w-full">

                <!-- ==== Table Header ==== -->

                <thead>

                        <tr class="text-left">

                            <th v-for="header in keys =  this.keys" :key="header" class="py-2 px-3 sticky top-0 border-b border-gray-200 bg-gray-100 text-center" >

                                <label @click="sort(header)" class="text-gray-600 font-normal inline-flex justify-between items-center hover:bg-gray-200 px-2 py-2 rounded-lg cursor-pointer w-full min-w-0">
                                    
                                    {{ header }} 

                                    <svg v-if="header == sortedElement.name" class="fill-current w-3 h-3 m-2 absolute" style="right: 1em;top: 25%;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                        <path v-if="sortedElement.sortOrder == -1" d="M0 16.67l2.829 2.83 9.175-9.339 9.167 9.339 2.829-2.83-11.996-12.17z"/>
                                        <path v-else-if="sortedElement.sortOrder == 1" d="M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z"/>
                                    </svg>


                                </label>
                                        
                            </th>

                            <th class="py-2 px-3 sticky top-0 border-b border-gray-200 bg-gray-100 text-center" >
                                    
                                <label class="text-gray-600 font-normal inline-flex justify-between items-center hover:bg-gray-200 px-2 py-2 rounded-lg cursor-pointer">
                                    
                                </label>   
                            </th>

                        </tr>

                </thead>
                    <tbody>

                            <tr v-for="student in dataFiltred" :key="student.id" class="hover:bg-gray-100 hover:shadow-sm">

                                <td v-for="key in keys" :key="key" class="border-dashed border-t border-gray-200 text-center">
                                    
                                    <label v-if="key == 'name'" class="text-gray-700 text-sm px-3 py-2 flex items-center justify-start"> <a :href="index_link+'/'+student.id" > {{ student[key] }}</a> </label>
                                    <label v-else class="text-gray-700 px-3 py-2 text-sm flex items-center justify-start"> {{ student[key] }} </label>

                                </td>
                                
                                
                                <td class="border-dashed border-t border-gray-200 flex items-center justify-end pt-3">
                                    
                                    
                                    <a :href="index_link + '/' + student.id+'/edit'" class="px-2 py-1 mx-1 text-sm rounded-full text-blue-500 flex items-center">

                                        <svg class="w-4 h-4 fill-current text-blue-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                            <path d="M18.363 8.464l1.433 1.431-12.67 12.669-7.125 1.436 1.439-7.127 12.665-12.668 1.431 1.431-12.255 12.224-.726 3.584 3.584-.723 12.224-12.257zm-.056-8.464l-2.815 2.817 5.691 5.692 2.817-2.821-5.693-5.688zm-12.318 18.718l11.313-11.316-.705-.707-11.313 11.314.705.709z"/>                                
                                        </svg>

                                        <div class="px-2 py-1">
                                            Edit
                                        </div> 

                                    </a>

                                    <!-- ====  delete ==== -->

                                    <button type="submit" class="px-2 py-1 mx-1 text-sm  rounded-full text-red-700 flex items-center" @click="deleteItem(student.id)">

                                        <svg class="w-4 h-4 fill-current text-red-700" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                            <path d="M9 19c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm4 0c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm4 0c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm5-17v2h-20v-2h5.711c.9 0 1.631-1.099 1.631-2h5.315c0 .901.73 2 1.631 2h5.712zm-3 4v16h-14v-16h-2v18h18v-18h-2z"/>
                                        </svg>

                                        <div class="px-2 py-1">
                                            Delete
                                        </div> 

                                    </button>

                                </td>

                            </tr>

                            
                    </tbody>

            </table>

            <div v-if="dataFiltred.length == 0" class="p-10 text-center text-xl text-gray-500"> 
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 339 287.94" class="w-24 m-auto"><defs>
                    </defs><title>Asset 1</title><g id="Layer_2" data-name="Layer 2">
                        <g id="Layer_2-2" data-name="Layer 2"><path class="cls-1" d="M217.28,125.46V237.62a12,12,0,0,1-12,12h-96a12,12,0,0,1-12-12v-135a12,12,0,0,1,12-12H182S217.85,124.88,217.28,125.46Z"/>
                        <path class="cls-2" d="M216.88,125.62h-22.6a12,12,0,0,1-12-12V91.37"/>
                        <path class="cls-1" d="M233.28,141.46V253.62a12,12,0,0,1-12,12h-96a12,12,0,0,1-12-12v-135a12,12,0,0,1,12-12H198S233.85,140.88,233.28,141.46Z"/>
                        <path class="cls-2" d="M232.88,141.62h-22.6a12,12,0,0,1-12-12V107.37"/>
                        <circle class="cls-3" cx="231.33" cy="204.63" r="47.51"/>
                        <path class="cls-3" d="M253.07,229.31a32.89,32.89,0,0,1-46.42-2.94"/>
                        <path class="cls-3" d="M209.59,180A32.9,32.9,0,0,1,256,182.89"/>
                        <rect class="cls-3" x="153.63" y="234.17" width="21.93" height="58.47" rx="10.96" transform="translate(253.47 -34.21) rotate(48.63)"/>
                        <line class="cls-3" x1="185.73" y1="243.17" x2="194.87" y2="235.12"/>
                        <circle class="cls-4" cx="230.98" cy="204.45" r="36.02"/>
                        <path class="cls-5" d="M225.35,224.16h-4.67v4.68h4.67Zm-11.63-31.58H243.2a2.24,2.24,0,0,1,2.22,2.22v11.06a2.14,2.14,0,0,1-.66,1.57,2.11,2.11,0,0,1-1.56.65H227.58a6.7,6.7,0,0,0-4.88,2,6.6,6.6,0,0,0-2,4.9v2.4h4.67V215a2.25,2.25,0,0,1,2.23-2.22H243.2a6.9,6.9,0,0,0,6.89-6.9V194.8a6.7,6.7,0,0,0-2-4.93,6.63,6.63,0,0,0-4.87-2l-29.48-.06Z"/>
                        <line class="cls-6" x1="132.28" y1="152.62" x2="189.28" y2="152.62"/>
                        <line class="cls-6" x1="132.28" y1="168.62" x2="186.28" y2="168.62"/>
                        <line class="cls-6" x1="132.28" y1="184.62" x2="173.28" y2="184.62"/>
                        <line class="cls-6" x1="132.28" y1="200.62" x2="173.28" y2="200.62"/>
                        <polygon class="cls-7" points="58.18 33.56 55.94 33.56 55.94 38.04 51.47 38.04 51.47 40.28 55.94 40.28 55.94 44.75 58.18 44.75 58.18 40.28 62.65 40.28 62.65 38.04 58.18 38.04 58.18 33.56"/>
                        <polygon class="cls-7" points="334.52 191.32 332.29 191.32 332.29 195.79 327.81 195.79 327.81 198.03 332.29 198.03 332.29 202.5 334.52 202.5 334.52 198.03 339 198.03 339 195.79 334.52 195.79 334.52 191.32"/>
                        <polygon class="cls-7" points="23.5 215.93 21.26 215.93 21.26 220.41 16.78 220.41 16.78 222.64 21.26 222.64 21.26 227.12 23.5 227.12 23.5 222.64 27.97 222.64 27.97 220.41 23.5 220.41 23.5 215.93"/>
                        <polygon class="cls-8" points="278.58 41.4 276.35 41.4 276.35 45.87 271.87 45.87 271.87 48.11 276.35 48.11 276.35 52.58 278.58 52.58 278.58 48.11 283.06 48.11 283.06 45.87 278.58 45.87 278.58 41.4"/>
                        <circle class="cls-9" cx="175.09" cy="6.15" r="5.03"/><circle class="cls-10" cx="6.15" cy="124.75" r="5.03"/>
                        <circle class="cls-10" cx="332.85" cy="106.85" r="5.03"/></g></g></svg>    
            <p class="text-sm mt-4">No result founded.</p>
            </div>

        </div>
        
    </div>
</template>

<script>

var moment = require('moment'); 

export default {
    props:['items','index_link'],
    
    data(){
      
        return {
            dataFiltred:this.items,
            keys: [],
            filterByID:'',
            filterByName:'',
            filterByCreateAt:'',
            sortedElement:{
                name:'',
                'sortOrder':''
            }
        }
    }, 

    mounted(){
        // sort according to the first element
                
        if(this.items.length > 0) {

           this.keys = Object.keys(this.items[0])

        }else{
            
           this.keys = null
        }
  
        if(this.dataFiltred[0]) {

            this.ConcatenateName();

            this.sort(Object.keys(this.dataFiltred[0])[1]);

            this.dateConverts();
            this.simplfyRelationshipsNames();
        }
        
    },

    methods:{
       
        filter () {
            this.dataFiltred = this.items.filter((item) => {


                let founded = true;

                if(this.filterByID.trim() != ""){  // filter by id if it's not empty

                    founded = ( item.id == this.filterByID );

                }
             

                if(this.filterByName != ""){ // filter by name and surname if not empty
                    
                    if(item.surname){

                        name = ( item.name.toUpperCase().trim() || '' ) + ' ' + ( item.surname.toUpperCase().trim() || '' );
                    }
                    else{
                        name = ( item.name.toUpperCase().trim() || '' ) ;
                    }

                    

                    founded = ( founded && name.trim().includes(this.filterByName.toUpperCase().trim()) )
                }


                if(this.filterByCreateAt != ""){ // filter by Created at date

                    founded = ( founded && item.created_at.includes(this.filterByCreateAt) );

                }


                return founded ;
                
            });
        },
        
        sort (byelement) {

            if ( this.sortedElement.name != byelement ) 
            {
                this.sortedElement.name = byelement;
                this.sortedElement.sortOrder = 1;

            }else{
                
                this.sortedElement.sortOrder = this.sortedElement.sortOrder * -1;
            }


            this.dataFiltred = this.dataFiltred.sort((a,b) =>{

                if(this.sortedElement.sortOrder == -1 ){

                    return b[byelement].localeCompare(a[byelement]);

                }else{
                    
                    return a[byelement].localeCompare(b[byelement]);
                }
                

            });    

        }, 
        dateConverts () {

            this.dataFiltred.map((item)=>{

                if(item.created_at) item.created_at = moment(String(item.created_at)).format('DD/MM/YYYY');
                if(item.updated_at) item.updated_at = moment(String(item.updated_at)).format('DD/MM/YYYY');

                return item;
            });

        },
        ConcatenateName () {

            this.items.map(function (item) {
                if ( item.surname ) {
                
                    item.name = item.name + ' ' + item.surname;

                    delete item.surname;

                    return  item
                }

                return item;
            });

        },
        deleteItem(id){


            Swal.fire({

                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#d33',
                    cancelButtonColor: '#ddd',
                    confirmButtonText: 'Yes, delete it!'

            }).then((result) => {


                if (result.value) {

                    $.ajax(
                    {
                        url: this.index_link+"/"+id,
                        type: 'DELETE',
                        data: {
                            "id": id,
                            "_method": 'DELETE',
                            "_token": token,
                        },
                        success:  () =>
                        {
                            // if success remove item from the lists :

                            this.items = this.items.filter(function (item) {
                                    if ( item.id  == id ) {
                                    
                                    return false
                                    }

                                    return item;
                            });

                            this.filter()

                            Swal.fire(
                            'Deleted!',
                            'the item deleted successfully.',
                            'success'
                            )
                        }
                    });

                    
                }


            })

           const token = document.querySelector('meta[name="csrf-token"]').attributes.content.value;
            




            
            
        },
        simplfyRelationshipsNames() {

            this.dataFiltred = this.items.filter((item) => {
                let name = '';
 
                
                for(var property in item) {
                    
                    if(typeof(item[property]) ==='object' &&  item[property] !== null){
                        

                        for(var oproperty in item[property]) {    
                             
                            if(oproperty == "surname" || oproperty == "name"){

                                console.log(oproperty );   

                                name += ' ' + item[property][oproperty];
                            }

                        }

                       item[property] = name
                    }
                    

                     
                }

                return  item


            });
        }
    }
}



</script>

<style>
.cls-1{fill:#fff;}.cls-1,.cls-10,.cls-2,.cls-3,.cls-6,.cls-9{stroke:#bccfd5;}.cls-1,.cls-2,.cls-6{stroke-linecap:round;stroke-linejoin:round;}.cls-1,.cls-2,.cls-3,.cls-6{stroke-width:3px;}.cls-10,.cls-2,.cls-9{fill:none;}.cls-3{fill:#fff;}.cls-10,.cls-3,.cls-9{stroke-miterlimit:10;}.cls-4{fill:#7691ff33;}.cls-5,.cls-6,.cls-7,.cls-8{fill:#5c7887;}.cls-7,.cls-9{opacity:0.5;}.cls-10,.cls-8{opacity:0.26;}.cls-10,.cls-9{stroke-width:2.24px;}
</style>