<template>

     <a :href="link" class=" mx-1
            py-2 px-8 
            text-teal-700 
            bg-teal-200 
            border
            border-teal-200 
            rounded-md" 
     
            >
     
     
     {{ text }}</a>
     
</template>


  
<script>
export default {
    props:['text','link']
}
</script>

