<template>
    <div>


        <div class="flex my-3 bg-gray-100 border-t border-b">
            
            <!-- ==== Filter inputs ==== -->

            <div class="p-2 w-1/6">
                
                <input  v-model="filterByID" 

                        @keyup="filter()"      
                        type="text" 
                        placeholder="Filter by id" 
                        class="appearance-none  
                                shadow-sm border 
                                rounded w-full 
                                py-2 px-4  
                                text-gray-700  
                                mt-1  bg-white 
                                text-sm leading-tight  
                                focus:outline-none  
                                focus:border-blue-300  
                                focus:shadow-outline-blue" >
            </div>

            <div class="p-2 w-2/6">

                <input  v-model="filterByName" 

                        @keyup="filter()"     
                        type="text" 
                        placeholder="Filter by name" 
                        class="appearance-none  
                                shadow-sm border 
                                rounded w-full 
                                py-2 px-4  
                                text-gray-700  
                                mt-1  
                                bg-white text-sm 
                                leading-tight  
                                focus:outline-none  
                                focus:border-blue-300  
                                focus:shadow-outline-blue" >
            </div>

            <div class="p-2 w-1/6">

                <input  v-model="filterByEmail" 

                        @keyup="filter()"    
                        type="text" 
                        placeholder="Filter by email"  
                        class="appearance-none  
                                shadow-sm border 
                                rounded w-full 
                                py-2 px-4  
                                text-gray-700  
                                mt-1  bg-white 
                                text-sm leading-tight  
                                focus:outline-none  
                                focus:border-blue-300  
                                focus:shadow-outline-blue" >
            </div>

            <div class="p-2 w-1/6">
                
                <input  v-model="filterByCreateAt" 
                        
                        @keyup="filter()" 
                        type="text" 
                        placeholder="filter by Create date" 
                        class="appearance-none  
                                shadow-sm border rounded 
                                w-full py-2 px-4  text-gray-700  
                                mt-1  bg-white 
                                text-sm leading-tight  
                                focus:outline-none  
                                focus:border-blue-300  
                                focus:shadow-outline-blue" >
            </div>

            <div class="p-2 w-1/6">
                <input v-model="filterByUpdatedAt" 

                        @keyup="filter()" 
                        type="text" 
                        placeholder="filter by Updated date" 
                        class="appearance-none  
                                shadow-sm border rounded 
                                w-full py-2 px-4  
                                text-gray-700  mt-1  
                                bg-white text-sm 
                                leading-tight  
                                focus:outline-none  
                                focus:border-blue-300  
                                focus:shadow-outline-blue" >
            </div>

        </div>
        


        <div class="overflow-x-auto bg-white rounded-lg shadow overflow-y-auto relative" style="height: 60vh;">
            
            <table class="w-full">

                <!-- ==== Table Header ==== -->

                <thead>

                        <tr class="text-left">

                            <th v-for="header in Object.keys(items[0])" :key="header" class="py-2 px-3 sticky top-0 border-b border-gray-200 bg-gray-100 text-center" >

                                <label @click="sort(header)" class="text-gray-600 font-normal inline-flex justify-between items-center hover:bg-gray-200 px-2 py-2 rounded-lg cursor-pointer w-full min-w-0">
                                    
                                    {{ header }} 

                                    <svg v-if="header == sortedElement.name" class="fill-current w-3 h-3 m-2 absolute" style="right: 1em;top: 25%;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                        <path v-if="sortedElement.sortOrder == -1" d="M0 16.67l2.829 2.83 9.175-9.339 9.167 9.339 2.829-2.83-11.996-12.17z"/>
                                        <path v-else-if="sortedElement.sortOrder == 1" d="M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z"/>
                                    </svg>


                                </label>
                                        
                            </th>

                            <th class="py-2 px-3 sticky top-0 border-b border-gray-200 bg-gray-100 text-center" >
                                    
                                <label class="text-gray-600 font-normal inline-flex justify-between items-center hover:bg-gray-200 px-2 py-2 rounded-lg cursor-pointer">
                                    Actions
                                </label>   
                            </th>

                        </tr>

                </thead>
                    <tbody>

                            <tr v-for="student in dataFiltred" :key="student.id" class="hover:bg-gray-100 hover:shadow-sm">

                                <td v-for="key in Object.keys(items[0])" :key="key" class="border-dashed border-t border-gray-200 text-center">
                                    
                                    <label v-if="key == 'name'" class="text-gray-700 text-sm px-3 py-5 flex items-center justify-start"> <a :href="index_link+'/'+student.id" > {{ student[key] }}</a> </label>
                                    <label v-else class="text-gray-700 text-sm px-3 py-5 flex items-center justify-start"> {{ student[key] }} </label>

                                </td>
                                

                                <!-- ==== Action buttons ==== -->

                                <td class="border-dashed border-t border-gray-200 flex items-center justify-center pt-3">
                                    
                                    
                                    <a :href="index_link + '/' + student.id+'/edit'" class="px-3 py-1 mx-1 text-sm  rounded-full bg-blue-200 text-blue-700 flex items-center">

                                        <svg class="w-4 h-4 fill-current text-blue-700" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                            <path d="M18.363 8.464l1.433 1.431-12.67 12.669-7.125 1.436 1.439-7.127 12.665-12.668 1.431 1.431-12.255 12.224-.726 3.584 3.584-.723 12.224-12.257zm-.056-8.464l-2.815 2.817 5.691 5.692 2.817-2.821-5.693-5.688zm-12.318 18.718l11.313-11.316-.705-.707-11.313 11.314.705.709z"/>                                
                                        </svg>

                                        <div class="px-2 py-1">
                                            Edit
                                        </div> 

                                    </a>

                                    <!-- ====  delete ==== -->

                                    <button type="submit" class="px-3 py-1 mx-1 text-sm  rounded-full bg-red-600 text-white flex items-center" @click="deleteItem(student.id)">

                                        <svg class="w-4 h-4 fill-current text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                            <path d="M9 19c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm4 0c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm4 0c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm5-17v2h-20v-2h5.711c.9 0 1.631-1.099 1.631-2h5.315c0 .901.73 2 1.631 2h5.712zm-3 4v16h-14v-16h-2v18h18v-18h-2z"/>
                                        </svg>

                                        <div class="px-2 py-1">
                                            Delete
                                        </div> 

                                    </button>

                                </td>

                            </tr>

                            
                    </tbody>

            </table>

            <div v-if="dataFiltred.length == 0" class="p-10 text-center text-xl text-gray-500"> Nothing here </div>

        </div>
        
    </div>
</template>

<script>

var moment = require('moment'); // require

export default {
    props:['items','index_link'],
    
    data(){
        return {
            dataFiltred:this.items,
            
            filterByID:'',
            filterByName:'',
            filterByEmail:'',
            filterByCreateAt:'',
            filterByUpdatedAt:'',
            showModel:false,
            sortedElement:{
                name:'',
                'sortOrder':''
            }
        }
    }, 
    mounted(){
        // sort according to the first element
        this.ConcatenateName();
        this.sort(Object.keys(this.dataFiltred[0])[1]);
        this.dateConverts();
        this.removeObjects();
    },
    methods:{
       
        filter () {
            this.dataFiltred = this.items.filter((item) => {


                let founded = true;

                if(this.filterByID.trim() != ""){  // filter by id if it's not empty

                    founded = ( item.id == this.filterByID );

                }
             

                if(this.filterByName != ""){ // filter by name and surname if not empty
                    
                    if(item.surname){

                        name = ( item.name.toUpperCase().trim() || '' ) + ' ' + ( item.surname.toUpperCase().trim() || '' );
                    }
                    else{
                        name = ( item.name.toUpperCase().trim() || '' ) ;
                    }

                    

                    founded = ( founded && name.trim().includes(this.filterByName.toUpperCase().trim()) )
                }


                if(this.filterByEmail != ""){ // filter by email if not empty

                    founded = ( founded && item.email.includes(this.filterByEmail) );

                }


                if(this.filterByCreateAt != ""){ // filter by Created at date

                    founded = ( founded && item.created_at.includes(this.filterByCreateAt) );

                }

                if(this.filterByUpdatedAt != ""){ // filter by Created at date

                    founded = ( founded && item.updated_at.includes(this.filterByUpdatedAt) );

                }

                return founded ;
                
            });
        },
        
        sort (byelement) {

            if ( this.sortedElement.name != byelement ) 
            {
                this.sortedElement.name = byelement;
                this.sortedElement.sortOrder = 1;

            }else{
                
                this.sortedElement.sortOrder = this.sortedElement.sortOrder * -1;
            }


            this.dataFiltred = this.dataFiltred.sort((a,b) =>{

                if(this.sortedElement.sortOrder == -1 ){

                    return b[byelement].localeCompare(a[byelement]);

                }else{
                    
                    return a[byelement].localeCompare(b[byelement]);
                }
                

            });    

        }, 
        dateConverts () {

            this.dataFiltred.map((item)=>{

                if(item.created_at) item.created_at = moment(String(item.created_at)).format('DD/MM/YYYY');
                if(item.updated_at) item.updated_at = moment(String(item.updated_at)).format('DD/MM/YYYY');

                return item;
            });

        },
        ConcatenateName () {

            this.items.map(function (item) {
                if ( item.surname ) {
                
                    item.name = item.name + ' ' + item.surname;

                    delete item.surname;

                    return  item
                }

                return item;
            });

        },deleteItem(id){


            Swal.fire({

                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#d33',
                    cancelButtonColor: '#ddd',
                    confirmButtonText: 'Yes, delete it!'

            }).then((result) => {


                if (result.value) {

                    $.ajax(
                    {
                        url: this.index_link+"/"+id,
                        type: 'DELETE',
                        data: {
                            "id": id,
                            "_method": 'DELETE',
                            "_token": token,
                        },
                        success:  () =>
                        {
                            // if success remove item from the lists :

                            this.items = this.items.filter(function (item) {
                                    if ( item.id  == id ) {
                                    
                                    return false
                                    }

                                    return item;
                            });

                            this.filter()

                            Swal.fire(
                            'Deleted!',
                            'the item deleted successfully.',
                            'success'
                            )
                        }
                    });

                    
                }


            })

           const token = document.querySelector('meta[name="csrf-token"]').attributes.content.value;
            




            
            
        },removeObjects() {

            this.dataFiltred = this.items.filter((item) => {
                let name = '';
 
                
                for(var property in item) {
                    
                    if(typeof(item[property]) ==='object' &&  item[property] !== null){
                        
                        console.log(item[property]);
                       delete item[property]
                    }
                    

                     
                }

                return  item


            });
        },


        show_warning_modal(){
            this.showModel = true
        }
    }
}



</script>